<!DOCTYPE HTML>
<html>
<head>
  <title>jquery.textntags</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans&subset=latin" rel="stylesheet" type="text/css">
  <link href="assets/style.css" rel="stylesheet" type="text/css">
  <link href="jquery-textntags.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js" type="text/javascript"></script>
</head>
<body>

<div class="container">

<h1>jquery.textntags</h1>

<p>
  <a>jquery.textntags</a> is a small UI component that allows you to "@tag" someone in a text message, just like you are used to on Facebook or Twitter.
</p>

<p>This project is written by <a href="http://twitter.com/dzahar">Daniel Zahariev</a> and is open source to give it a life in the community. </p>

<p>Credit for the most of the code structure: <a href="http://twitter.com/auchenberg">Kenneth Auchenberg</a>, and his <a href="http://podio.github.com/jquery-mentions-input/">Mentions Input</a> jQuery plugin</p>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://daniel-zahariev.github.com/jquery-textntags/" data-via="dzahar" data-lang="en">Tweet</a></p>


<a class="anchor" name="examples"></a>
<h2>Examples</h2>

<p>Basic example (<a href="assets/example1.js">source</a>) - duplicate tags are allowed</p>

<div class="examples">
  <textarea class="tagged_text_ex1" placeholder="Try to mention me, by typing @dan"></textarea>
  <a class="button get-syntax-text">Get marked-up value</a>
  <a class="button get-tags">Get tags collection</a>
  <a class="button get-tags-map">Get tags map</a>
  <a class="button get-copy-tags">Copy text'n'tags to next textarea</a>
</div>


<p>AJAX example. (Getting data by AJAX, and filter in callback - <a href="assets/example2.js">source</a>)</p>

<div class="examples">
  <textarea class="tagged_text_ex2" placeholder="Try to mention me, by typing @dan"></textarea>
</div>


<p>Custom tags <a href="#markup">markup</a> example (<a href="assets/example3.js">source</a>)</p>

<div class="examples">
  <textarea class="tagged_text_ex3" placeholder="Try to mention me, by typing @dan"></textarea>
  <a class="button get-syntax-text3">Get marked-up value</a>
</div>


<a class="anchor" name="source"></a>
<h2>Download and source</h2>
<p>You can grab the latest source from the repository on GitHub by clicking here: <a href="https://github.com/daniel-zahariev/jquery-textntags">https://github.com/daniel-zahariev/jquery-textntags</a>.</p>


<a class="anchor" name="startup"></a>
<h2>Getting started</h2>

<ol>
  <li>
    Add a script reference to jquery.textntags.js:<br/>
    <pre>&lt;script src=&#39;jquery.textntags.js&#39; type=&#39;text/javascript&#39;&gt;&lt;/script&gt;</pre>
  </li>
  <li>
    Add a bit of markup: <br/>
    <pre>&lt;textarea class=&#39;tagged_text&#39;&gt;&lt;/textarea&gt;</pre>
  </li>
  <li>
    <p>Initialise the textntags: <br/>
    <pre>
$('textarea.tagged_text').textntags({
  onDataRequest: function (mode, query, triggerChar, callback) {
    var data = [
      { id:1, name:'Daniel Zahariev', 'img':'http://profile.ak.fbcdn.net/hprofile-ak-snc4/174073_1704423938_6732585_q.jpg', 'type':'contact' },
      { id:2, name:'Petar Atanasov', 'img':'http://profile.ak.fbcdn.net/hprofile-ak-snc4/161443_100002096378713_348648_q.jpg', 'type':'contact' },
      { id:3, name:'Dinko Tanev', 'img':'http://profile.ak.fbcdn.net/hprofile-ak-snc4/211388_786209857_4725069_q.jpg', 'type':'contact' }
    ];

    data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

   callback.call(this, data);
  }
});
    </pre>
    </p>

    <p>
      Yes! You are in business.
    </p>
  </li>
</ol>

<a class="anchor" name="configuration"></a>
<h2>Configuration</h2>
<p>jquery.textntags does have a number of extra configuration options which you may change to customise the way it behaves.</p>

<p>The meaning of the options and their default values are listed below. </p>

<table>
  <tr>
    <td><b>onDataRequest</b></td>
    <td><tt>function(mode, query, triggerChar, callback)</tt></td>
    <td class="definition">
      This function is a callback function which is used to provide data for the autocomplete. When a search starts
      this function is called with following arguments: 'search', the query (what's been typed), the trigger character, and a callback function which needs to be called inside onDataRequest with a data collection to be searched on as a first argument.
    </td>
  </tr>
  <tr>
    <td><b>realValOnSubmit</b></td>
    <td><tt>true&nbsp;|&nbsp;false</tt></td>
    <td class="definition">
	  Wether to hooks to the submit event of the closest form and update the value of the textarea to the
	  one with markup
    </td>
  </tr>
  <tr>
    <td><b>triggers</b></td>
    <td><tt>object</tt></td>
    <td class="definition">
	  Key/value pairs which define all triggers. The keys are the characters for triggering (example: '@') suggestion list.
	  The value is an options object which controls the behavior. The possible options are listed below.
    </td>
  </tr>
  <tr>
    <td><b>templates</b></td>
    <td><tt>object</tt></td>
    <td class="definition">
      Object which contains templates used to render the layout as key/value pairs.
    </td>
  </tr>
</table>

<a class="anchor" name="triggers"></a>
<h3>Triggers</h3>
 
<table>
  <tr>
    <td><b>minChars</b></td>
    <td><tt>int (2)</tt></td>
    <td class="definition">
      The minimum amount of characters after the trigger character necessary to perform a search.
    </td>
  </tr>
  <tr>
    <td><b>uniqueTags</b></td>
    <td><tt>true&nbsp;|&nbsp;false</tt></td>
    <td class="definition">
      Toggles whether or not to allow duplicate tags in the text.
    </td>
  </tr>
  <tr>
    <td><b>showImageOrIcon</b></td>
    <td><tt>true&nbsp;|&nbsp;false</tt></td>
    <td class="definition">
      Toggles whether or not items within the autocomplete-dropdown will be rendered with an image/icon.
    </td>
  </tr>
  <tr>
    <td><b>keys_map</b></td>
    <td><tt>object</tt></td>
    <td class="definition">
		Defines a map of the keys between the items in the tag search results and the item format used inside the plugin. <br />
		Default value: <br /><tt>{id: 'id', title: 'name', description: '', img: 'img', no_img_class: 'icon', type: 'type'}</tt> <br /><br />
		The keys in the object are the keys a tag will have when used inside the plugin.
    </td>
  </tr>
  <tr>
    <td><b>syntax</b></td>
    <td><tt>function</tt></td>
    <td class="definition">
		This is template function created using Underscore which transforms the tag object to markup. <br />
		Default value: <br /><tt>_.template('@[[<%= id %>:<%= type %>:<%= title %>]]')</tt>
    </td>
  </tr>
  <tr>
    <td><b>parser</b></td>
    <td><tt>RegExp</tt></td>
    <td class="definition">
		Regular Expression that matches the markup for this trigger character. <br />
		Default value: <br /><tt>/(@)\[\[(\d+):([\w\s\.\-]+):([\w\s@\.,-\/#!$%\^&\*;:{}=\-_`~()]+)\]\]/gi</tt>
    </td>
  </tr>
  <tr>
    <td><b>parserGroups</b></td>
    <td><tt>object</tt></td>
    <td class="definition">
		Object that maps the indexes of the parsed groups with the corresponding tag properties. <br />
		Default value: <tt>{id: 2, type: 3, title: 4}</tt> <br /><br />
		<span class="alias">NB: if you modify this for given trigger be sure to have the max index of a group match a propery.</span>
    </td>
  </tr>
  <tr>
    <td><b>classes</b></td>
    <td><tt>object</tt></td>
    <td class="definition">
      Object which contains classes used in the layout as key/value pairs.
    </td>
  </tr>
</table>

<a class="anchor" name="methods"></a>
<h2>Methods</h2>

<p>jquery.textntags does expose a number of public methods, you can call on an instance. </p>

<table>
  <tr>
    <td><b>init</b></td>
    <td></td>
    <td class="definition">
      Initialises the textntags component on a specific element.
    </td>
  </tr>
  <tr>
    <td><b>reset</b></td>
    <td></td>
    <td class="definition">
      Resets the component, clears all tags.
    </td>
  </tr>
  <tr>
    <td><b>val(callbackOrVal)</b></td>
    <td></td>
    <td class="definition">
      An async method which accepts a callback function and returns a value of the input field (including markup) as a first parameter of this function. <br/>
	  This is the value you want to send to your server. <br/>
	  The second way to use this method is as a setter - pass string value to be set as value of the textarea. The string can contain markup.
    </td>
  </tr>
  <tr>
    <td><b>getTags(callback)</b></td>
    <td></td>
    <td class="definition">
      An async method which accepts a callback function and returns a collection of unique tags as hash objects as a first parameter.
    </td>
  </tr>
  <tr>
    <td><b>getTagsMap(callback)</b></td>
    <td></td>
    <td class="definition">
      An async method which accepts a callback function and returns a map(array) of all tags (non-unique) as array as a first parameter. <br /><br />
	  The format of each map element is an array [positionInPlainText, lengthOfTitle, triggerChar, tagAsObject]. Example:  <br /><br />
<pre>
$(...).textntags('getTagsMap', function (tagsMap) {
	// tagsMap = [[1, 6, '@', {'id': }]]
});
</pre>
    </td>
  </tr>
  <tr>
    <td><b>parseTaggedText(tagged_text, callback)</b></td>
    <td></td>
    <td class="definition">
      An async method which accepts a tagged_text (text with tags markup) and a callback function and returns a parsed version of the text in form of object
	  with the following properties:
	  <ul>
		<li><tt>plain_text</tt> - text with removed markup</li>
		<li><tt>tagged_text</tt> - the same as the input</li>
		<li><tt>tagsCollection</tt> - a map of the tags in the text</li>
	  </ul>
    </td>
  </tr>
</table>

<a class="anchor" name="events"></a>
<h2>Events</h2>

<p>TODO</p>

<a class="anchor" name="query"></a>
<h2>Query data structure</h2>

<p>When the component is preforming a "query" on the data specified through the onDataRequest-callback, it's expecting a specific data structure to be returned. </p>
<pre>
{
  'id'    : 1,
  'name'  : 'Daniel Zahariev',
  'img'   : 'http://profile.ak.fbcdn.net/hprofile-ak-snc4/174073_1704423938_6732585_q.jpg',
  'icon'  : 'icon-16 icon-person',
  'type'  : 'contact'
}
</pre>

<p>"img" property is a URL used for image avatars when "showImageOrIcon"-option is enabled</p>
<p>"icon" property is a className used for avatars when "showImageOrIcon"-option is disabled</p>
<p>"type" property specifies an object type which is used in the marked-up version of the mentions result</p>


<a class="anchor" name="markup"></a>
<h2>Markup format</h2>
<p>When tags are being added to the input, a marked-up version of the value is generated, to allow the tags to be extracted, parsed and stored later. </p>
<pre>
  This is a message for @[id:type:title]
</pre>
<p>Like:</p>
<pre>
  This is a message for @[1:contact:Daniel Zahariev]
</pre>
<p>You can define your own markup format for the tags by exploiting the settings `syntax`, `parser` and `parserGroups` which you can define per trigger</p>


<a class="anchor" name="browser_support"></a>
<h2>Browser support</h2>
<p>jquery.textntags is still being tested for browser support.</p>


<a class="anchor" name="dependencies"></a>
<h2>Dependencies</h2>
<p>jquery.textntags is written as a jQuery extension, so it naturally requires jQuery. In addition to jQuery, it also depends on <a href="http://documentcloud.github.com/underscore/">underscore.js</a>, which is used to simplify stuff a bit.</p>

<p>The component is also using the new HTML5 "input" event. This means older browsers like IE8 need a polyfill which emulates the event (it is bundled).</p>

<p>The component itself is implemented as a small independent function, so it can easily be ported to frameworks other than jQuery. </p>

<p>Furthermore all utility functions have been centralized in the utils-object, which can be replaced with references if you already got functions like htmlEncode, etc. </p>

<a class="anchor" name="license"></a>
<h2>License</h2>
<p>MIT License - <a href="http://www.opensource.org/licenses/mit-license.php">http://www.opensource.org/licenses/mit-license.php</a></p>


<a class="anchor" name="change_log"></a>
<h2>Change Log</h2>
<p>
  <b class="header">1.0.0</b><br/>
  Initial release.
</p>


</div>

<script src="jquery-textntags.js" type="text/javascript"></script>
<script src="assets/example1.js" type="text/javascript"></script>
<script src="assets/example2.js" type="text/javascript"></script>
<script src="assets/example3.js" type="text/javascript"></script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28500014-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>